{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <main id="home">
        <section>
            <article>
                <h2>Dernière mise en ligne</h2>
            </article>
            <article>
                <h2>Les plus visités de la semaines</h2>
            </article>
            <article>
                <h2>Les plus visités</h2>
            </article>
        </section>
    </main>

{% endblock %}