* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

header section {
  background-color: #3993DD;
  padding: 2%;
}

section section {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}

.logo {
  width: 80px;
}

h1 {
  font-size: 50px;
  padding: 3%;
}

.navReseauxSociaux ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

i {
  font-size: 25px;
}

.navReseauxSociaux i:hover {
  color: white;
}

#navMenu {
  margin-bottom: 3%;
}

#navMenu ul {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}

#connexionInscription {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
  width: 290px;
}

#navMenu ul li {
  padding: 2% 5%;
}

#navMenu ul li a {
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 10px;
}

.menuBurger {
  display: none;
}

#navMenu ul li a:hover {
  color: red;
}

#formHeader {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

#formHeader input:first-of-type {
  width: 300px;
  height: 30px;
  border-radius: 10px;
}

#formHeader input:last-of-type {
  padding: 5px;
  border-radius: 5px;
}

#formHeader input:last-of-type:hover {
  background-color: black;
  color: white;
}

#backgroundImage {
  height: 100vh;
  background-image: url("../images/outil_designer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flashSuccess, .flashFail {
  text-align: center;
  padding: 2%;
}

.flashSuccess {
  background-color: green;
}

.flashFail {
  background-color: red;
}

main {
  margin: 2% 10%;
}

/*--------------------------------------------------  Home  --------------------------------------------------*/
#home h2, #titreAllIllustration {
  background-color: black;
}

#home h2 a, #titreAllIllustration {
  color: white;
}

#home h2 a:hover {
  color: red;
}

.illustrationHome {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}

.formulaireInsertUser h2 {
  text-align: center;
}

.formMain {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}

/*--------------------------------------------------  User  --------------------------------------------------*/
#pageUser div, #navUser ul {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 2% 0;
}

#logoUser {
  width: 10%;
}

#pageUser #newIllustration a {
  width: 220px;
  padding: 2%;
  text-align: center;
  border-radius: 10px;
  border: solid 3px black;
}

#pageUser #newIllustration a:hover {
  background-color: black;
  color: white;
}

#navUser ul li p, .userIllustration h3 {
  text-align: center;
  border: solid 3px black;
  width: 120px;
  padding: 5px 0;
  border-radius: 10px;
}

#reseauxUser {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

#reseauxUser i:hover {
  color: #3993DD;
}

#reseauxUser li:first-of-type {
  width: 160px;
}

#reseauxUser li:first-of-type a {
  border: solid 3px black;
  text-align: center;
  padding: 5% 25%;
  border-radius: 10px;
}

#reseauxUser li:first-of-type a:hover {
  background-color: black;
  color: white;
}

.thumbnail {
  width: 18%;
}

#userThumbnail {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}

.userHome {
  display: inline;
  background-color: black;
  color: white;
  padding: 0.5% 1%;
}

.userIllustration div:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}

#titre_tableau_admin {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

table {
  text-align: center;
}

/*--------------------------------------------------  Connexion  --------------------------------------------------*/
.formMain {
  margin-bottom: 3%;
  height: 60vh;
}

.formMain button {
  margin-top: 1%;
}

/*--------------------------------------------------  Illustration  --------------------------------------------------*/
.userIllustration h3 {
  margin: 15px 0;
}

#contentIllustration {
  border: solid 3px black;
  padding: 5px 0;
  border-radius: 10px;
}

#updateDelete p:first-of-type, #updateDelete p:nth-of-type(2) {
  text-align: center;
  border: solid 3px black;
  padding: 5px 10px;
  border-radius: 10px;
}

#updateDelete p:first-of-type {
  background-color: #3993DD;
}

#updateDelete p:nth-of-type(2) {
  background-color: red;
}

#updateDelete p:nth-of-type(2):hover, #updateDelete p a:hover {
  color: white;
}

/*--------------------------------------------------  All Illustration  --------------------------------------------------*/
#allIllustration {
  display: flex;
  justify-content: none;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
}

footer {
  background-color: #3993DD;
  padding: 2%;
}

footer nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}

.navFooter {
  color: white;
  background-color: black;
  padding: 10px 20px;
  border-radius: 10px;
}

.navFooter:hover {
  color: red;
}

/*footer i:hover{
  color: $white;
}*/
.userIllustration {
  position: relative;
}

#updateDelete {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 2%;
  width: 180px;
}

.trueDelete {
  display: none;
  background-color: white;
  border-radius: 20px;
  position: absolute;
  padding: 8%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trueDelete a {
  padding: 5% 10%;
  border-radius: 20px;
  margin: 0 28px;
}

.trueDelete a:first-of-type {
  background-color: red;
}

.trueDelete a:last-of-type {
  background-color: #3993DD;
}

@media screen and (max-width: 480px) {
  /*------------------------------ Header ------------------------------*/
  h1 {
    font-size: 30px;
  }
  .logo {
    width: 40px;
  }
  .menuBurger {
    display: block;
    text-align: center;
  }
  #navMenu {
    display: none;
  }
  #navMenu.active {
    display: block;
    background-color: black;
    margin: 0 30% 2%;
    padding: 2% 0;
    border-radius: 10px;
  }
  #navMenu ul li {
    margin: 2% 0;
  }
  #navMenu ul li a {
    background-color: rgb(0, 0, 0);
  }
  #navMenu ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
  }
  #connexionInscription {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
    width: 100%;
  }
  #backgroundImage {
    height: 20vh;
  }
  #navMenu ul li:last-of-type {
    margin-top: 10px;
  }
  /*------------------------------ Main Home ------------------------------*/
  .thumbnail {
    width: 48%;
  }
  .thumbnailHome:last-of-type {
    display: none;
  }
  /*------------------------------ Main User ------------------------------*/
  #pageUser #newIllustration a {
    width: 150px;
  }
  #logoUser {
    width: 15%;
  }
  #navUser ul li p {
    width: 70px;
  }
  #reseauxUser li:first-of-type a {
    padding: 5%;
    margin-left: 68px;
  }
  /*------------------------------ Footer ------------------------------*/
  .navFooter {
    padding: 10px 5px;
  }
  #menuFooter {
    display: none;
  }
  #menuFooter.active {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
    background-color: black;
    padding: 2% 0;
    border-radius: 10px;
  }
  #menuFooter ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
  }
  #menuFooter ul li {
    margin: 4% 0;
  }
}

/*# sourceMappingURL=stylePublic.css.map */
