{% extends 'publicView/base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}

    <main>

        <section class="formulaireInsertUser">

            <h2>Nouvelle utilisateur</h2>

            <form method="post" id="insertUser" class="formMain">

                <label for="">
                    <p>Nom</p>
                    <input type="text" name="name">
                </label>

                <label for="">
                    <p>Prénom</p>
                    <input type="text" name="firstname">
                </label>

                <label for="">
                    <p>Pseudo</p>
                    <input type="text" name="pseudo">
                </label>

                <!--<label for="">
                    <p>Date de naissance</p>
                    <input type="date" name="bornAt">
                </label>-->

                <label for="">
                    <p>Email</p>
                    <input type="email" name="email">
                </label>

                <label for="">
                    <p>Mot de passe</p>
                    <input type="password" name="password">
                </label>

                <input type="submit" name="valider" id="formSubmit">

            </form>

        </section>

    </main>

{% endblock %}