@media screen and (max-width: 480px) {
  /*------------------------------ Header ------------------------------*/

  h1{
    font-size: 30px;
  }

  .logo{
    width: 40px;
  }

  .menuBurger{
    display: block;
    text-align: center;
  }

  #navMenu{
    display: none;
  }

  #navMenu.active{
    display: block;
    background-color: $black;
    margin: 0 30% 2%;
    padding: 2% 0;
    border-radius: 10px;
  }

  #navMenu ul li{
    margin: 2% 0;
  }

  #navMenu ul li a{
    background-color: rgba(0,0,0,1);
  }

  #navMenu ul{
    @include flex(center, column, center,10%);
  }

  #connexionInscription{
    @include flex(center, column, center,10%);
    width: 100%;
  }

  #backgroundImage{
    height: 20vh;
  }

  #navMenu ul li:last-of-type{
    margin-top: 10px;
  }

  /*------------------------------ Main Home ------------------------------*/

  .thumbnail{
    width: 48%;
  }

  .thumbnailHome:last-of-type{
    display: none;
  }

  /*------------------------------ Main User ------------------------------*/

  #pageUser #newIllustration a{
    width: 150px;
  }

  #logoUser{
    width: 15%;
  }

  #navUser ul li p{
    width: 70px;
  }

  #reseauxUser li:first-of-type a{
    padding: 5%;
    margin-left: 68px;
  }

  /*------------------------------ Footer ------------------------------*/

  .navFooter{
    padding: 10px 5px;
  }

  #menuFooter{
    display: none;
  }

  #menuFooter.active{
    @include flex(center, column, center);
    background-color: $black;
    padding: 2% 0;
    border-radius: 10px;
  }

  #menuFooter ul{
    @include flex(center, column, center,10%);
  }

  #menuFooter ul li{
    margin: 4% 0;
  }

}