{% extends 'publicView/base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block content %}

    <main id="homeCategoryAll">
        <h2>Catégories</h2>
        <div class="decorativeFeature"></div>
        <section id="categoryList">
            {% for category in categorys %}
                <h3><a href="{{ path('one_category', {'id': category.id}) }}#oneCategoryIllustrations">{{ category.libelle }}</a></h3>
            {% endfor %}
        </section>
    </main>

{% endblock %}