.userIllustration{
  position: relative;
}

#updateDelete{
  @include flex(space-between);
  width: 180px;
}

.trueDelete{
  display: none;
  background-color: $white;
  border-radius: 20px;
  position: absolute;
  padding: 8%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.trueDelete a{
  padding: 5% 10%;
  border-radius: 20px;
  margin: 0 28px;
}

.trueDelete a:first-of-type{
  background-color: $red;
}

.trueDelete a:last-of-type{
  background-color: $blue;
}