header section{
  background-color: $black;
  padding: 2%;
}

section section{
  @include flex();
}

.logo{
  width: 80px;
}

h1{
  font-size: 50px;
  padding: 3% 15%;
  color: $white;
}

.navReseauxSociaux ul{
  @include flex(space-around, row, center, 5px);
}

i{
  font-size: 25px;
  color: $white;
}

.navReseauxSociaux i:hover, #profil:hover{
  color: $blue;
}

#usermenu{
  @include flex(center, column);
}

#userconnexion{
  display: none;
}

#userconnexion.active{
  display: block;
}

/*
#usermenu ul{
  border: solid, $white, 1px;
}
*/

#usermenu ul li a{
  color: $white;
}

#navMenu{
  margin-bottom: 2%;
}

#navMenu ul{
  @include flex();
}

#connexionInscription{
  @include flex(center, column);
  width: 100px;
}

#connexionInscription li{
  padding-top: 10px;
  a:hover{
    color: $blue;
  }
}

#navMenu ul li{
  padding: 2% 5%;
}

#navMenu ul li a{
  color: $white;
  background-color: $black;
  padding: 10px 20px;
  border-radius: 10px;
}

.menuBurger{
  display: none;
}

#navMenu ul li a:hover{
  color: $blue;
}

#formHeader{
  @include flex(center, row, center, 10px);
}

#formHeader input:first-of-type{
  width: 300px;
  height: 30px;
  border-radius: 10px;
}

#formHeader input:last-of-type{
  padding: 5px;
  border-radius: 5px;
}

#formHeader input:last-of-type:hover{
  background-color: $black;
  color: $white;
}

#backgroundImage{
  height: 100vh;
  background-image: url("../images/outil_designer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flashSuccess, .flashFail{
  text-align: center;
  padding: 2%;
}

.flashSuccess{
  background-color: $green;
}

.flashFail{
  background-color: $red;
}