main{
  margin: 2% 10%;
}

#error404{
  height: 100vh;
  background-image: url("../images/erreur404.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

#accessProhibited{
  text-align: center;
}

#accessProhibitedPicture{
  width: 50%;
  margin: auto;
}

/*--------------------------------------------------  Admin  --------------------------------------------------*/

.sectionAdmin{
  position: relative;
}

.trueDelete{
  border: solid 1px $black;
}

#listeCategory{
  @include flex(space-between);
}

#insertCategory, #updateCategory{
  @include flex(center, column);
}

#adminIllustrationAll{
  padding: 2%;
  text-align: center;
}

.falseDeleteUser:hover{
  color: red;
}

/*--------------------------------------------------  Home  --------------------------------------------------*/

#home h2{
  margin-top: 5%;
}

h2{
  font-size: 30px;
}

.decorativeFeature{
  background-color: $blue;
  height: 2px;
  width: 200px;
  margin: 1% 0 3% 15%;
}

.illustrationHome, #oneCategory{
  @include flex(none);
}

.formMain{
  @include flex(center, column, center);
}

.thumbnailHome{
  @include flex(space-between, column, none);
  height: 450px;
  background-color: $black;
  border-radius: 20px;
  overflow: hidden;
  .DivImg{
    height: 200px;
    @include flex();
  }

  img{
    border-radius: 20px;
  }
  h3, .illustrationCategory, a{
    color: $white;
    padding: 5%;
  }
  a:hover{
    color: $black;
  }
}

.OpenThumbnail{
  background-color: $blue;
  border-radius: 5px;
  /*margin-left: 90px;*/
  float: right;
  margin-right: 5%;
}

.visitCategory{
  margin-top: 2%;
  @include flex(flex-end);
  p{
    background-color: $blue;
    border-radius: 5px;
    padding: 15px 0;
    width: 250px;
    text-align: center;
  }
  a{
    color: $white;
  }
  a:hover{
    color: $black;
  }
}

/*--------------------------------------------------  User  --------------------------------------------------*/

#pageUser{
  position: relative;
}

#newIllustration, #navUser ul{
  @include flex(space-between, row, center, 5px);
  margin: 2% 0;
}

#logoUser{
  width: 10%;
}

#pageUser #newIllustration a{
  width: 220px;
  padding: 2%;
  text-align: center;
  border-radius: 10px;
  border: solid 3px $black;
}

#pageUser #newIllustration a:hover{
  background-color: $black;
  color: $white;
}

#navUser ul li p, .userIllustration h3, #listeCategory p{
  text-align: center;
  border: solid 3px $black;
  width: 120px;
  padding: 5px 0;
  border-radius: 10px;
}

#reseauxUser{
  @include flex(space-between, row, center, 5px);
}

#reseauxUser i:hover{
  color: $blue;
}

#reseauxUser li:first-of-type{
  width: 160px;
}

#reseauxUser li:first-of-type a{
  border: solid 3px $black;
  text-align: center;
  padding: 5% 25%;
  border-radius: 10px;
}

#reseauxUser li:first-of-type a:hover{
  background-color: $black;
  color: $white;
}

#updateDeleteUser{
  @include flex(flex-end);
  margin: 2% 0;
}

.thumbnail{
  width: 18%;
  margin-bottom: 2%;
}

#userThumbnail{
  @include flex(none);
}

.userHome{
  display: inline;
  background-color: $black;
  color: $white;
  padding: 0.5% 1%;
}

.userIllustration div:nth-of-type(2){
  @include flex(space-between);
}

#titre_tableau_admin{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

table{
  text-align: center;
}

#updateUser a:hover, #deleteUser:hover{
  color: $white;
}

/*--------------------------------------------------  Connexion  --------------------------------------------------*/

.formMain{
  margin-bottom: 3%;
  height: 65vh;
}

.formMain button{
  margin-top: 1%;
}

/*--------------------------------------------------  Inscription  --------------------------------------------------*/

label{
  @include flex(space-between);
  width: 550px;
  margin-top: 2%;
  p{
    font-size: 20px;
    font-weight: bold;
  }
  input{
    border: none;
    border-bottom: solid $black 1px;
    width: 350px;
    height: 30px;
    text-align: center;
  }
}

input[type="date"] {
  background-color: rgba(255, 255, 255, 0.5); /* Blanc semi-transparent */
  color: rgba(0, 0, 0, 0.7); /* Texte principal */
}

input[type="date"]::placeholder {
  color: rgba(0, 0, 0, 0.5); /* Placeholder semi-transparent */
}

#formSubmit{
  margin-top: 2%;
  background-color: $black;
  color: $white;
  padding: 1% 2%;
  border-radius: 5px;
}

#formSubmit:hover{
  color: $blue;
}

/*--------------------------------------------------  Illustration  --------------------------------------------------*/

.userIllustration h3{
  margin: 15px 0;
}

.categoryDescription{
  font-size: 18px;
  font-weight: bolder;
}

#contentIllustration, .illustrationCategory{
  border: solid 3px $black;
  padding: 5px 0;
  border-radius: 10px;
}

#updateDelete p:first-of-type, #updateDelete p:nth-of-type(2), .updateDeleteUse{
  text-align: center;
  border: solid 3px $black;
  padding: 5px 10px;
  border-radius: 10px;
}

#updateDelete p:first-of-type, #updateDeleteUser p:first-of-type{
  background-color: $blue;
}

#updateDelete p:nth-of-type(2), #updateDeleteUser p:nth-of-type(2){
  background-color: $red;
}

#updateDelete p:nth-of-type(2):hover, #updateDelete p a:hover{
  color: $white;
}

#h3OneIllustration{
  @include flex(space-between);
}

.illustrationCategory{
  @include flex(flex-start, row, center, 5px);
  margin-bottom: 1%;
}

.illustrationCategory p:last-of-type{
  display: none;
}

#noCategory{
  display: inline-block;
  text-align: center;
  border: solid 3px $black;
  padding: 5px;
  border-radius: 10px;
}

/*--------------------------------------------------  All Illustration  --------------------------------------------------*/

#allIllustration{
  @include flex(none);
}

/*--------------------------------------------------  All Category  --------------------------------------------------*/

#categoryTitle,  #oneCategoryTitle{
  font-size: 50px;
  text-align: center;
  margin-bottom: 2%;
}

#categoryList{
  @include flex();

  h3{
    background-color: $black;
    padding: 1.5%;
    width: 175px;
    text-align: center;
    border-radius: 10px;
    text-transform: capitalize;
    margin: 2% 0;

    a{
      font-size: 22px;
      color: $white;
    }

    a:hover{
      color: $blue;
    }
  }

  /*--------------------------------------------------  One Category  --------------------------------------------------*/



}