main{
  margin: 2% 10%;
}

#home h2{
  background-color: $black;
  color: $white;
}

.formulaireInsertUser h2{
  text-align: center;
}

.formMain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main page user */

#pageUser div, #navUser ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 0;
}

#logoUser{
  width: 10%;
}

#pageUser div a{
  width: 220px;
  padding: 2%;
  text-align: center;
  border-radius: 10px;
  border: solid 3px $black;
}

#pageUser div a:hover{
  background-color: $black;
  color: $white;
}

#navUser ul li p{
  text-align: center;
  border: solid 3px $black;
  width: 120px;
}