main{
  margin: 2% 10%;
}

/*--------------------------------------------------  Home  --------------------------------------------------*/

#home h2{
  background-color: $black;
  color: $white;
}

.illustrationHome{
  @include flex(none);
}

.formulaireInsertUser h2{
  text-align: center;
}

.formMain{
  @include flex(center, column, center);
}

/*--------------------------------------------------  User  --------------------------------------------------*/

#pageUser div, #navUser ul{
  @include flex(space-between, row, center, 5px);
  margin: 2% 0;
}

#logoUser{
  width: 10%;
}

#pageUser #newIllustration a{
  width: 220px;
  padding: 2%;
  text-align: center;
  border-radius: 10px;
  border: solid 3px $black;
}

#pageUser #newIllustration a:hover{
  background-color: $black;
  color: $white;
}

#navUser ul li p, .userIllustration h3{
  text-align: center;
  border: solid 3px $black;
  width: 120px;
  padding: 5px 0;
  border-radius: 10px;
}

#reseauxUser{
  @include flex(space-between, row, center, 5px);
}

#reseauxUser i:hover{
  color: $blue;
}

#reseauxUser li:first-of-type{
  width: 160px;
}

#reseauxUser li:first-of-type a{
  border: solid 3px $black;
  text-align: center;
  padding: 5% 25%;
  border-radius: 10px;
}

#reseauxUser li:first-of-type a:hover{
  background-color: $black;
  color: $white;
}

.thumbnail{
  width: 18%;
}

#userThumbnail{
  @include flex(none);
}

.userHome{
  display: inline;
  background-color: $black;
  color: $white;
  padding: 0.5% 1%;
}

.userIllustration div:nth-of-type(2){
  @include flex(space-between);
}

#titre_tableau_admin{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

table{
  text-align: center;
}

/*--------------------------------------------------  Connexion  --------------------------------------------------*/

.formMain{
  margin-bottom: 3%;
}

.formMain button{
  margin-top: 1%;
}

/*--------------------------------------------------  Illustration  --------------------------------------------------*/

.userIllustration h3{
  margin: 15px 0;
}

#contentIllustration{
  border: solid 3px $black;
  padding: 5px 0;
  border-radius: 10px;
}

#updateDelete p:first-of-type, #updateDelete p:nth-of-type(2){
  text-align: center;
  border: solid 3px $black;
  padding: 5px 10px;
  border-radius: 10px;
}

#updateDelete p:first-of-type{
  background-color: $blue;
}

#updateDelete p:nth-of-type(2){
  background-color: $red;
}

#updateDelete p:nth-of-type(2):hover, #updateDelete p a:hover{
  color: $white;
}