{% extends 'publicView/base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block content %}

<main>
    <div id="accessProhibitedPicture">
        <img src="{{ asset('images/accessProhibited.png') }}" alt="">
    </div>
</main>

{% endblock %}