{% extends 'user/baseUser.html.twig' %}

{% block title %}Nouvelle illustration{% endblock %}

{% block content %}

    <main>

        <section class="formulaireInsertUser">

            <h2>Nouvelle Illustration</h2>

            {{ form(illustrationForm) }}

        </section>

    </main>

{% endblock %}