{% extends 'user/baseUser.html.twig' %}

{% block title %}{% endblock %}

{% block content %}

    <main>
        <section>
            <div><img src="{{ asset('uploadThumbnail/'~ illustration.thumbnail) }}" alt="{{ illustration.name }}"></div>
            <h3>{{ illustration.name }}</h3>
            <h4><a href="{{ path('user_update_illustration', {'id': illustration.id}) }}">Modifier</a></h4>
        </section>
    </main>

{% endblock %}