@mixin flex ($content:space-around, $direction:row, $align:center, $gap:2%){
  display: flex;
  justify-content: $content;
  flex-direction: $direction;
  align-items: $align;
  flex-wrap: wrap;
  gap: $gap;
}