{% extends 'user/baseUser.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <main id="home">
        <section>
            <h2>Dernière mise en ligne</h2>
            <article class="illustrationHome">
                {% for illustration in illustrations %}
                    <div class="thumbnail">
                        <a href="{{ path('user_illustration', {'id': illustration.id}) }}">
                            <img src="{{ asset('uploadThumbnail/'~ illustration.thumbnail) }}" alt="{{ illustration.name }}">
                        </a>
                    </div>
                {% endfor %}
            </article>
            <h2>Les plus visités de la semaines</h2>
            <article class="illustrationHome">
            </article>
            <h2>Les plus visités</h2>
            <article class="illustrationHome">
            </article>
        </section>
    </main>

{% endblock %}